.confirm-return {
  background-image: url("../../img/confirm-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height:100%;
  text-align: center;
}

.msg {
	margin-top: 90%;
	display: block;
}

.homebutton {
	margin-top: 30%;
}
