.scandropoff {
  background: #222;
  /*background-image: url("../../img/scan-qr-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;*/
  //height:100%;
  text-align: center;
}

.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.title {
	margin-top: 30%;
  	color: white;
}

.scanbutton {
	width: 60%;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}