/*
.signup-background {
  background-image: url('../img/city-restaurant-lunch-outside.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height:100%;
}
*/
